<% @global.each do |name, value| %>
<%= name %> = <%= quote(value) %>
<% end %>

<% @runners.each do |n, runner| %>
[[runners]]
  <% if runner.has_key?('global') %>
  <% runner['global'].each do |name, value| %>
  <%= name %> = <%= quote(value) %>
  <% end %>
  <% end %>

  <% if runner.has_key?('feature_flags') %>
  [runners.feature_flags]
  <% runner['feature_flags'].each do |name, value| %>
    <%= name %> = <%= quote(value) %>
  <% end %>
  <% end %>

  <% if runner.has_key?('docker') %>
  [runners.docker]
  <% runner['docker'].each do |name, value| %>
    <%= name %> = <%= quote(value) %>
  <% end %>
  <% end %>
  <%- if runner.has_key?('docker_tmpfs') %>

  [runners.docker.tmpfs]
  <%- runner['docker_tmpfs'].each do |name, value| %>
    <%= quote(name) %> = <%= quote(value) %>
  <%- end %>
  <%- end %>

  <% if runner.has_key?('machine') %>
  [runners.machine]
  <% runner['machine'].each do |name, value| %>
    <% next if name == 'autoscaling' %>
    <%= name %> = <%= quote(value) %>
  <% end %>

  <% if runner['machine'].has_key?('autoscaling') %>
  <% runner['machine']['autoscaling'].each do |autoscaling| %>
    <% if autoscaling.is_a?(Hash) %>
    [[runners.machine.autoscaling]]
    <% autoscaling.each do |name, value| %>
      <%= name %> = <%= quote(value) %>
    <% end %>
    <% end %>
  <% end %>
  <% end %>
  <% end %>

  <% if runner.has_key?('instance') %>
  [runners.instance]
  <% runner['instance'].each do |name, value| %>
    <%= name %> = <%= quote(value) %>
  <% end %>
  <% end %>

  <% if runner.has_key?('autoscaler') %>
  [runners.autoscaler]
  <% runner['autoscaler']['global'].each do |name, value| %>
    <%= name %> = <%= quote(value) %>
  <% end %>
  <% runner['autoscaler']['policies'].each do |policy| %>
    [[runners.autoscaler.policy]]
    <% policy.each do |name, value| %>
      <%= name %> = <%= quote(value) %>
    <% end %>
  <% end %>
    [runners.autoscaler.plugin_config]
    <% runner['autoscaler']['plugin_config'].each do |name, value| %>
      <%= name %> = <%= quote(value) %>
    <% end %>
    [runners.autoscaler.connector_config]
    <% runner['autoscaler']['connector_config'].each do |name, value| %>
      <%= name %> = <%= quote(value) %>
    <% end %>
    <% if runner['autoscaler'].has_key?('vm_isolation') %>
    [runners.autoscaler.vm_isolation]
    <% runner['autoscaler']['vm_isolation'].each do |name, value| %>
    <% if name != 'connector_config' && name != 'nesting_config' %>
      <%= name %> = <%= quote(value) %>
    <% elsif name == 'nesting_config' %>
      [runners.autoscaler.vm_isolation.nesting_config]
      <% runner['autoscaler']['vm_isolation']['nesting_config'].each do |name, value| %>
        <%= name %> = <%= quote(value) %>
      <% end %>
    <% else %>
      [runners.autoscaler.vm_isolation.connector_config]
      <% runner['autoscaler']['vm_isolation']['connector_config'].each do |name, value| %>
        <%= name %> = <%= quote(value) %>
      <% end %>
    <% end %>
    <% end %>
    <% end %>
  <% end %>

  <% if runner.has_key?('cache') %>
  [runners.cache]
  <% runner['cache'].each do |name, value| %>
  <% if value.is_a?(Hash) %>
    [runners.cache.<%= name %>]
    <% value.each do |name, value| %>
      <%= name %> = <%= quote(value) %>
    <% end %>
  <% else %>
    <%= name %> = <%= quote(value) %>
  <% end %>
  <% end %>
  <% end %>

  <% if runner.has_key?('referees') %>
  [runners.referees]
  <% runner['referees'].each do |name, value| %>
    [runners.referees.<%= name %>]
    <% value.each do |name, value| %>
      <%= name %> = <%= quote(value) %>
    <% end %>
  <% end %>
  <% end %>

  <%- if runner.has_key?('monitoring') %>
  [runners.monitoring]
  <%- if runner['monitoring'].has_key?('job_queuing_durations') %>
  <% runner['monitoring']['job_queuing_durations'].each do |duration| %>
  <%- if duration.is_a?(Hash) %>
    [[runners.monitoring.job_queuing_durations]]
    <% duration.each do |key, value| %>
      <%= key %> = <%= quote(value) %>
    <% end %>
  <%- end %>
  <% end %>
  <%- end %>
  <%- end %>
<% end %>
